body{
  padding: 40px;
}
#rcorners1 {
  border-radius: 25px;
  padding : 60px 20px 20px 20px;
  width: 400px;
  height: 300px;
}


.bodycontent{
  width: 100%;
}
.bodycontent-left{
  width: 50%;
  float: left;
}
.bodycontent-right{
  padding-top:100px;
  width: 50%;
  float:right;
}



